<!DOCTYPE html>
<html>
  <head>
    <title>Sistema psicologico</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Usuário logado: <%=logedUser%> | <a href="/sair">Sair</a></p>
    <p><a href="/login">Login</a></p>

    <table>
      <thead>

      </thead>

      <tbody>
        
      </tbody>

      <tfoot>

      </tfoot>
    </table>
  </body>
</html>