<!DOCTYPE html>
<html>
<head>
    <title>Tela de login</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Identifique-se</h2>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td>Usuario</td>
                <td><input type="text" name="edtUserEmail"></td>
            </tr>
            <tr>
                <td>Senha</td>
                <td><input type="password" name="edtPassword"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><input type="submit" value="Entrar"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/cadastroPaciente">Sou Paciente</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/cadastroProfissional">Sou Profissional</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

